parameters:
    paths:
        - src
    level: max

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '~^Parameter #2 \$string of function explode expects string, mixed given\.$~'
